.pre {
    height: 35px;
    padding-left: 5px;
    padding-top: 6px;
    width: 100%;
    background-color: deeppink;
    gap: 50px;
    color: white;
    font-size: 13px;

}
.mar{
    width: 640px;
}





